{#
 * @copyright 2016-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * Available Variables:
 * - person: Domain\People\Entities\Person
#}
<header>
    <h1>{{ person.fullname() }}</h1>
    {% if isAllowed('people', 'update') %}
    <div><a href="{{ uri('people.update', {'username': person.username}) }}"
            class="edit button">
            {{ _('edit') }}
        </a>
    </div>
    {% endif %}
</header>
 <h2>{{ person.title      }}</h2>
<div>{{ person.department }}</div>
<div>{{ person.division   }}</div>
<div>{{ person.location   }}</div>
