<nav>
    <header><h2>{{ _('admin') }}</h2></header>
    {% if isAllowed('titles', 'index') %}
    <a href="{{ uri('titles.index') }}">{{ _(['jobTitleCode', 'jobTitleCodes', 10]) }}</a>
    {% endif %}
    {% if isAllowed('users', 'index') %}
    <a href="{{ uri('users.index') }}">{{ _(['user', 'users', 10]) }}</a>
    {% endif %}
</nav>
