{#
/**
 * @copyright 2014-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * Available variables:
 * - person:  Domain\People\Entities\Person
 * - contact: Domain\EmergencyContacts\Contact
#}
{% extends 'html/layouts/default.twig' %}

{% block content %}
<section class="person-profile">
    {% if person.photoUri and isAllowed('people', 'photo') %}
    <div><img src="{{ person.photoUri }}" /></div>
    {% endif %}
    <section class="person-details">
        <header>
            <h2>{{ person.fullname() }}</h2>
            {% if isAllowed('people', 'update') %}
            <div><a href="{{ uri('people.update', {'username': person.username}) }}"
                    class="edit button">
                    {{ _('edit') }}
                </a>
            </div>
            {% endif %}
        </header>
         <h3>{{ person.title      }}</h3>
        <div>{{ person.department }}</div>
        <div>{{ person.division   }}</div>
        <div>{{ person.location   }}</div>

        {% if isAllowed('people', 'hr') %}
        <table>
        <tr><th>{{ _('employeenumber') }}</th><td>{{ person.employeenumber }}</td></tr>
        <tr><th>{{ _('employeeid'    ) }}</th><td>{{ person.employeeid     }}</td></tr>
        </table>
        {% endif %}

        {{ include('html/departments/partials/contactInfo.twig', {'entry': person}) }}

        {% if isAllowed('people', 'uploadPhoto') %}
        {{ include('html/people/uploadPhotoForm.twig') }}
        {% endif %}
    </section>

    {% if isAllowed('emergencyContacts', 'update') %}
    {{ include('html/emergencyContacts/info.twig') }}
    {% endif %}
</section>
{% endblock %}
