<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ BASE_URI }}/css/screen-{{ VERSION }}.css" />
    <title>{{ title is defined ? title : APPLICATION_NAME }}</title>
    <script type="text/javascript">
        var BASE_URL = '{{ BASE_URL }}',
            BASE_URI = '{{ BASE_URI }}';
    </script>
</head>
