<header>
    <h1><a href="{{ BASE_URI }}">{{ APPLICATION_NAME }}</a></h1>
    <nav><a href="{{ uri('people.search'      ) }}">{{ _('search') }}</a>
         <a href="{{ uri('departments.index'  ) }}">{{ _(['department', 'departments', 10]) }}</a>
         <a href="{{ uri('departments.numbers') }}">{{ _('main_numbers') }}</a>
    </nav>
</header>
