{#
 * @copyright 2007-2021 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array users
#}
<section>
    <header>
        {% if isAllowed('users', 'update') %}
        <div class="tools">
            <a href="{{ uri('users.update') }}" class="edit button">{{ _('user_add') }}</a>
        </div>
        {% endif %}
    </header>

	<table>
		<thead>
			<tr><th>{{ _('username'             ) }}</th>
				<th>{{ _('name'                 ) }}</th>
				<th>{{ _('authentication_method') }}</th>
				<th>{{ _('role'                 ) }}</th>
			</tr>
		</thead>
		<tbody>
        {% for user in users %}
            {% set link=uri('users.view', {'id':user.id }) %}
            <tr><td><a href="{{ link }}">{{ user.username }}</a></td>
                <td><a href="{{ link }}">{{ user.firstname }} {{ user.lastname }}</a></td>
                <td><a href="{{ link }}">{{ user.authentication_method }}</a></td>
                <td><a href="{{ link }}">{{ user.role }}</a></td>
            </tr>
        {% endfor %}
		</tbody>
	</table>
</section>
